* {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.cate-img {
    width: 150px;
}

.nav-visit {
    margin-left: 30px;
    text-decoration: none;
}

table td,
th {
    text-align: center;
}

.order-details label {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}

.order-details div {
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
}
